.btn{
    width:100%;
}

.collapsible-header{
    font-weight: bolder;
}

.forNotes,.forAddingNote{
    display:none;
}

#mainContent,#headerCard{
    
    margin-right: auto;
    margin-left: auto;

}

p.flow-text{
    margin-top:0;
    margin-bottom:7%;
    font-style: italic; 
}

.btn{
    background-color:#FF4E00;
}
.deleteArticle,.deleteThisNote{
    background-color:red;
}
h2{
    margin-bottom:10%;
}